<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iba.dao.MybatisUserMapper" >
  <resultMap id="BaseResultMap" type="User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Select">
  	select
  </sql>
  <sql id="Base_Column_List" >
    id, username, name, age, balance
  </sql>
  <sql id="Base_Form" >
  	from user
  </sql>
  <select id="findAllForXml" resultMap="BaseResultMap">
    <include refid="Base_Select"/>
    <include refid="Base_Column_List" />
    <include refid="Base_Form" />
  </select>
</mapper>